<p>Plane ID: <%= @plane.id%></p>
<p>Capacity: <%= @plane.capacity%></p>
<p>Boarded?: <%= @plane.boarded?%></p>
<p>Destination: <%= @plane.destination%></p>
<p>Airport ID:
<a href='/airports/1'> <%= @plane.airport.id %></a>
</p>
