  <h3><%= @passenger.name %></h3>
  <p>ID: <%= @passenger.id %></p>
  <p>Seat Number: <%= @passenger.seat %></p>
  <p>First Class?: <%= @passenger.first_class? %></p>
  <p> Plane ID: <%= @passenger.plane.id %> <%= link_to "#{@passenger.plane.destination}", "/planes/#{@passenger.plane.id}" %> </p>
  <h3> <%= link_to "Return to Passenger Index", "/passengers" %> </h3>
